.grid-container{
	display: flex;
	flex-direction: column;
	margin: 20px;
}
.grid-container .grid-card-deck{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	width: 100%;
	margin-bottom: 20px;
}
.grid-card-deck .grid-card{
	width: 30%;
	border: 1px solid #E3E3E3;
}
.grid-card-deck .grid-card .title{
	font-weight: bold;
	font-size: 18px;
}
.grid-card-deck .grid-card .subtitle{
	font-size: 12px;
	font-style: italic;
}
.grid-card-deck .grid-card .content{
	margin-top: 20px;
	font-size: 14px;
}


@media (min-width: 320px) and (max-width: 767px) {
	.grid-card-deck .grid-card{
		width: 90%;
		border: 1px solid #E3E3E3;
	}
}