.home-container{
	position: relative;
	width: 100%;
	height: 85%;
	background-image: linear-gradient(to right, #EF2A29 , #F05229);
}
.home-container .form-container{
	position: absolute;
	background-color: #FAFBFC;
	width: 40%;
	padding: 30px;
	border-radius: 10px;
	right: 10%;
}
.home-container .home-hero-text{
	position: absolute;
	left: 10%;
	top: 30%;
	width: 30%;
	font-family: calibri
}
.home-container .home-hero-text .title{
	color: white;
}

.home-container .home-hero-text .details{
	color: white;
	font-size: 24px;
}

@media (min-width: 320px) and (max-width: 767px) {
	.home-container{
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 100%;
		background-image: linear-gradient(to right, #EF2A29 , #F05229);
	}
	.home-container .form-container{
		position: relative;
		background-color: #FAFBFC;
		width: 80%;
		padding: 20px;
		margin-bottom: 50px;
		border-radius: 10px;
		align-self: center;
		font-size: 12px;
		right: auto;
	}
	.home-container .home-hero-text{
		position: relative;
		width: 80%;
		font-family: calibri;
		align-self: center;
		text-align: center;
		left: auto;
		margin-bottom: 20px;
	}
}